@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:wght@200&family=Roboto+Mono&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  background: linear-gradient(130.85deg, #79797b 0%, #222021 50.94%);
  border-radius: 48px;
}

/* unvisited link */
a:link {
  color: #ffffff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #9e9e9e;
  font-size: 4rem;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #9e9e9e;
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
}

.Navigation {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.Footer {
  height: 10vh;
}

.App-section {
  width: 70vw;
}

.Navbar {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

/******************************** HOME PAGE */

.App-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.LT-logo {
  width: 20vw;
}
.LT-logo:hover {
  filter: brightness(0);
}

.Home-title {
  color: #9e9e9e;
  font-size: 1.5rem;
  text-decoration: none;
}

.Home-title:hover {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

/******************************** WORK PAGE */
.Section-title {
  font-family: "Italiana", serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/****** FOOTER */

.Footer-entire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 1rem;
}

/* .App {
  text-align: center;
  content: "";
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, #fff 10%, rgba(255, 255, 255, 0));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.2em;
  font-size: 11px;
}

span {
  display: block;
}

svg {
  margin-top: 10px;
  width: 18px;
  height: 18px;
  animation: scroll 0.95s ease-in-out alternate infinite;
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 1;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 40%;
  opacity: 0;
  margin: -19px auto;
  transition: transform 1s cubic-bezier(0.14, 0.15, 0.13, 0.99);
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
} */
