@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:wght@200&family=Roboto+Mono&display=swap");

/******************************** GENERAL */

.dark {
  font-family: "Robotto", sans-serif;
  font-size: 1rem;
  background: black;
  color: #ffffff;
}
.light {
  font-family: "Robotto", sans-serif;
  font-size: 1rem;
  background: #fff;
  color: #333;
}

.dark-link {
  font-family: "Robotto", sans-serif;
  font-size: 1rem;
}

.light-link {
  font-family: "Robotto", sans-serif;
  font-size: 1rem;
}

/* unvisited link */
.dark-link:link {
  color: #ffffff;
  text-decoration: none;
}

.light-link:link {
  color: black;
  text-decoration: none;
}

/* visited link */
.dark-link:visited {
  color: #ffffff;
  text-decoration: none;
}

.light-link:visited {
  color: black;
  text-decoration: none;
}

a {
  color: #9e9e9e;
  text-decoration: none;
}

/* mouse over link */
.dark-link:hover {
  font-family: "Italiana", serif;
  font-size: 1rem;
  text-decoration: none;
}

.light-link:hover {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

/* selected link */
.dark-link:active {
  color: #9e9e9e;
  text-decoration: underline;
}

.light-link:active {
  color: #9e9e9e;
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
}

.Header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navigation {
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.Footer {
  height: 10vh;
}

.App-section {
  width: 100vw;
  height: 100vh;
}

/* .toggle-button {
  position: absolute;
  width: 1rem;
  height: 1rem;
} */
/******************************** HEADER */

.hamburger {
  display: none;
}

.header-display {
  display: flex;
  justify-content: right;
  width: 90vw;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dfdfdf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background: white;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/******************************** NAVBAR */

.Navbar {
  min-width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-family: "Robotto", sans-serif;
  font-size: 1rem;
  align-items: center;
}

.menu {
  font-family: "Robotto", sans-serif;
  font-weight: 100;
  text-align: left;
  position: absolute;
  color: #fff;
  left: 50%;
  margin-top: -6vw;
  margin-left: -75vw;
  transform: rotate(-90deg);
  font-size: 12rem;
  letter-spacing: 0.4em;
}

.socials {
  width: 1rem;
  filter: invert(1);
}

/******************************** HOME PAGE */

.homeName {
  background: linear-gradient(90deg, #abbaee -2.06%, #387672 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.App-homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 90vh;
}

.App-homepage-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.avatar {
  width: 20vw;
  --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
  --m: left var(--_i, 0%) top var(--_g), bottom var(--_i, 0%) left var(--_g),
    top var(--_i, 0%) right var(--_g), right var(--_i, 0%) bottom var(--_g);
  -webkit-mask: var(--m);
  mask: var(--m);
  filter: grayscale();
  transition: 0.3s linear;
  cursor: pointer;
}
.avatar:hover {
  --_i: 10%;
  filter: grayscale(0);
}

.LT-logo-dark {
  width: 10vw;
}
.LT-logo-dark:hover {
  filter: brightness(0);
  transform: scale(1.3);
}

.LT-logo-light {
  width: 20vw;
  filter: brightness(0);
  transform: scale(1.3);
}

.LT-logo-light:hover {
  filter: brightness(0);
  transform: scale(1.3);
}

.Home-title-dark {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.Home-title-light {
  color: #9e9e9e;
  font-size: 2rem;
  text-decoration: none;
}

.Home-title-dark:hover {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.Home-title-light:hover {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

/* CSS */
.button-55 {
  margin: 1rem;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: "Robotto", sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: black;
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
/******************************** SECTIONS PAGES */

.Section-title {
  font-family: "Italiana", serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-top: 3rem;
}

/******************************** STACK */

.Tech-stack {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Mern {
  width: 30vw;
}

/******************************** WORK */

.App-work-section {
  width: 70vw;
}

.grid-item-left {
  width: 15vw;
}

.grid-item-center {
  width: 40vw;
}

.grid-item-right {
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  font-size: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
  place-items: center;
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

.resume {
  text-align: center;
}

.link {
  font-size: 1.5rem;
}

.link:hover {
  font-size: 1.6rem;
  color: #9e9e9e;
}

#cat-title {
  font-size: 1rem;
}

/******************************** ABOUT PAGE */

.About-me-paragraph {
  width: 90vw;
  font-size: 1rem;
  padding-left: 5vw;
  margin-right: 10vw;
  text-align: justify;
}

/******************************** CONTACT */

textarea:focus,
.name-input:focus {
  outline: none;
}

.input {
  width: 30vw;
  border: 1px, black;
  outline: none;
  font-family: "Robotto", sans-serif;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  margin: 1rem;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: "Robotto", sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#mail {
  margin: 1rem;
}

#message {
  height: 20vh;
  margin: 1rem;
}

.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

/********************************  FOOTER */

.Footer-entire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 1rem;
}

/* .App {
  text-align: center;
  content: "";
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, #fff 10%, rgba(255, 255, 255, 0));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.2em;
  font-size: 11px;
}

span {
  display: block;
}

svg {
  margin-top: 10px;
  width: 18px;
  height: 18px;
  animation: scroll 0.95s ease-in-out alternate infinite;
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 1;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 40%;
  opacity: 0;
  margin: -19px auto;
  transition: transform 1s cubic-bezier(0.14, 0.15, 0.13, 0.99);
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
} */
@media (max-width: 900px) {
  .Navbar {
    min-width: 20vw;
  }
}

@media (max-width: 700px) {
  .Navbar {
    display: none;
  }

  .header-with-nav {
    display: flex;
    flex-direction: column;
  }

  .Navburger {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  .App-work-section {
    width: 95vw;
  }

  .About-me-paragraph {
    width: 90vw;
  }

  .hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
  }

  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }

  .header-display {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90vw;
  }

  .dark-Navbar {
    background-color: grey;
  }

  .light-Navbar {
    background-color: #9e9e9e;
  }

  .burger-nav {
    font-size: 1.5rem;
  }
  /* unvisited link */
  .burger-nav :link {
    font-size: 1.5rem;
  }
  /* visited link */
  .burger-nav :visited {
    font-size: 1.5rem;
  }
  /* mouse over link */
  .burger-nav:hover {
    font-size: 1.5rem;
  }
  /* selected link */
  .burger-nav :active {
    font-size: 1.5rem;
  }
}
